button{
    width: 10em; 
    padding: 0.5em;
    font-size: 1.6vw;
    background: #ec5454;
    display: block;
    margin: 0 auto;
    margin-top: 0.7em;
    border: 1px solid rgba(44, 2, 2, 0.651);
    border-radius: 0.5em;
}

button:focus {
    outline:0;
}

button:hover {
    cursor: pointer;
    background: #ca0707;
}